.container {
    padding: 200px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #131110;
    height: fit-content;
  }
  
  .icon {
    color: #2c4dcd;
    height: 40px;
  }
  
  .inputIconBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  
  .inputBox input {
    width: 400px;
    border: 2px solid #2c4dcd;
    border-radius: 100px;
    padding: 15px 20px;
    background-color: rgb(227, 222, 222);
  }
  
  .inputBox input:focus {
    outline: none;
  }
  
  .propertiesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding: 100px 0px;
  }
  .load-more-btn {
    background-color: #2f4fcd;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 25px;
    letter-spacing: 0.5px;
    font-size: 15px;
    cursor: pointer;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 200px;
    gap: 25px;
  }
  
  .container img {
    border-radius: 10px;
  }
  
  .container h2 {
    color: #1f3e72;
  }
  
  .container p {
    color: #2c4dcd;
    font-weight: bold;
    font-size: 22px;
  }
  
  .titlePriceBox {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .roomsBox {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
  }
  
  .roomsBox h6 {
    color: #1f3e72;
  }
  
  .iconTextBox {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .iconTextBox {
    color: #1f3e72;
  }